li:first-child {
    background-color: black !important;
}

li:nth-child(odd) {
    background-color: green;
}

li:nth-child(even) {
    background-color: red;
}

li:last-child {
    background-color: yellow;
}